@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;500;700&display=swap');

/* Already defined the default CSS on the nav-bar css */

*,
*::after, 
*::before {
    margin: 0; 
    box-sizing: border-box;
}


:root {
    --clr--main: #7d4f38; 
    --clr--secondary: #164a41;
    --clr--neutral: #000000;
    --clr--white: #ffffff;
    --clr--bg: #f3ebe1;
    --clr--light-main: #c6a281;

    --ff--main: 'Roboto', sans-serif; 
    --ff--accent: 'Playfair Display', serif;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
::-webkit-scrollbar-track {
    border-radius: 10px;
    background:#f2f2f2;
}
   

::-webkit-scrollbar-thumb {
    background: var(--clr--main);
    border-radius: 10px;
  }
  

::-webkit-scrollbar-thumb:hover {
    background: var(--clr--secondary); 
  }


/* ====preformatting==== */
body {
    max-width: 1920px; 
    margin: 0 auto;
}

.container-wrapper { 
    display: flex;
}

.sections {
    width: 100%;
}

/* STYLING========================= */

.sections h1 {
    font-family: var(--ff--accent);
    font-size: 3.75rem;
    font-weight: 400;
    color: var(--clr--bg);
}

.content p {
    font-family: var(--ff--main);
    font-size: 1.5625rem;
    line-height: 150%;
    font-weight: lighter;
    color: var(--clr--main);
}

.btn {
    width: 14rem;
    border: 1px solid;
    text-align: center;
    height: 3.5rem;
    display: grid; 
    place-items: center;
    font-family: var(--ff--main); 
    font-weight: bold;
    color: var(--clr--main);
    transition: 0.5s;
    margin: 0 auto;
}

.btn:hover {
    color: var(--clr--bg);
    background-color: var(--clr--main);
    /* border: none; */
}

/*FORMATTING========================= */

.main-contents {
    /* border:1px solid magenta; */
    padding: 3rem;
    width: 100%;
    max-width: 100rem;
    margin: 4rem auto;
}
.header h1 {
    width: 100%;
    max-width: 66.25rem;
    margin: 0 auto;
    padding: 6.25rem 0;
}

.header{
    width: 100%;
    background-image: url(images/bg.png);
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
}

.content {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    margin-top: 3rem;
}

.content p {
    margin-bottom: 3rem;
}

/* ====for footer==== */
footer {
    width: 100%;
    background-color: #7d4f38;
    padding: 6.25rem 0;
    color: var(--clr--bg);
    text-align: center;
}

footer h2 {
    font-family: var(--ff--accent); 
}

footer p {
    font-family: var(--ff--main);
}

.footer-container {
    max-width: 19.5625em; 
    margin: 0 auto;
}

.footer-logo img{
    max-width: 3.25em;
}

.footer-logo h2{
    font-size: 1.5625rem;
    color: var(--clr--bg);
    margin-bottom: 1.5625rem;
}

.footer-socmeds i{
    color: var(--clr--bg); 
    margin: 0 1.25rem 1.5625rem 1.25rem;
}

.footer-socmeds i:hover {
    color: var(--clr--light-main);
}

.copyright p{
    text-align: center;
}

@media (min-width: 800px) {
    footer {
        padding: 6.25rem 0 6.25rem 0;
    }
    .sections {
        margin-left: 6.375rem;
    }
}
