/* Colors */

:root {
    --dark-color: #000000;
    --light-color: #f3ebe1;
    --green-color: #164a41;
    --brown-color: #7d4f38;
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
  }
  
*,
*::after, 
*::before {
    margin: 0; 
    box-sizing: border-box;
}
/* Custom scrollbar */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--light-color);
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: var(--clr--main);
    border-radius: 10px;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--clr--secondary); 
  }


.main-content-container {
    position: relative;
    width: 100%;
    display: grid; 
    place-content: center;
    z-index: 0;
    height: 100vh;
}

.main-content-container img {
    position: absolute;
    width: 100%;
    max-width: 834px;
    z-index: -1;
}

.bg-right {
    right: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content h1 {
    font-size: 6.25rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #7d4f38;
    font-weight: 400;
    margin-bottom: 3rem;
}
.main-content h2 {
    font-size: 4.25rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #7d4f38;
    font-weight: 400;
    margin-top: 7rem;
    margin-bottom: 3rem;
}
.main-content h3 {
    font-size: 2.25rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #164a41;
    font-weight: 400;
    margin-top: 7rem;
    margin-bottom: 3rem;
}
.main-content {
    z-index: 1;
}

.main-content .subheadline {
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3rem;
    color: #7d4f38;
    /* font-weight: bold; */
}

.main-content .sub-headline {
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3rem;
    margin: 0, auto;
    padding-left: 4rem;
    padding-right: 4rem;
    color: #7d4f38;
    /* font-weight: bold; */
}
.return-to-home-btn {
    text-align: center;
    margin-bottom: 4rem;
}

.return-to-home-btn a {
    border: 1px solid;
    width: fit-content;
    padding: 1rem 2rem;
    font-family: 'Roboto', serif;
    color:#7d4f38;
}

.return-to-home-btn a:hover {
    background-color: #7d4f38;
    color: white;
    font-weight: 700;
    transition: 0.3s;
}


/* Footer */

footer {
    width: 100%;
    background-color: #7d4f38;
    padding: 6.25rem 0;
    color: var(--clr--bg);
    text-align: center;
}

.footer-container {
    max-width: 19.5625em; 
    margin: 0 auto;
}

.footer-logo img{
    max-width: 3.25em;
}

.footer-logo h2{
    font-size: 1.5625rem;
    color: var(--clr--bg);
    margin-bottom: 1.5625rem;
}

.footer-socmeds i{
    color: var(--clr--bg); 
    margin: 0 1.25rem 1.5625rem 1.25rem;
}

.footer-socmeds i:hover {
    color: var(--clr--light-main);
}

.copyright p{
    text-align: center;
}

@media (min-width: 800px) {
    footer {
        padding: 6.25rem 0 6.25rem 6.375rem;
    }
}
