@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

:root {
    --clr--main: #7d4f38; 
    --clr--secondary: #164a41;
    --clr--neutral: #000000;
    --clr--white: #ffffff;
    --clr--bg: #f3ebe1;
    --clr--light-main: #c6a281;

    --ff--main: 'Roboto', sans-serif; 
    --ff--accent: 'Playfair Display', serif;
}


*,
*::after, 
*::before {
    margin: 0; 
    box-sizing: border-box;
}


.outer-shell {
    background-color: white;
}

nav a {
    text-decoration: none;
    color: white;
    color: #7d4f38;
}

.inner-shell {
    visibility: hidden;
    position: fixed;
    transform: translateX(-100%);
    background-color: white;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.26);
    color: #7d4f38;
    width: 100%;
    max-width: 478px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: 100vh;
    transition: transform 0.5s ease;
}

.logo2 {
    display: flex;
    align-items: center;
}

.logo2 a {
    color: #164a41;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.middle-part {
    display: flex;
    align-items: center;
}

.middle-part p {
    font-size: 0.85rem;
}

.middle-part .burger-inside {
    position: absolute;
    right: 1rem;
}

.nav-links h1 {
    font-size: 3.125rem;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.nav-links {
    padding-left: 2rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-links a:hover {
    font-weight: 700;
}

.current {
    border-bottom: 2px solid;
    width: fit-content;
}

.nav-links li{
    list-style: none;
    opacity: 0;
}

.nav-links li a {
    text-decoration: none;
    margin: 0;
}

.nav-links p {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

.catalogue-container p {
    margin-left: 2rem;
}

.catalogue-links { 
    max-height: 4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.catalogue-links li {
    margin-left: 1rem;
    font-family: var(--ff--main);
    /* border: 1px solid; */
    font-weight: 300;
}

.catalogue-links a {
    font-size: 15px;
}

.sublinks {
    margin-top: 2rem;
}


.inner-shell-active {
    transform: translateX(0%);
}

.inner-shell .cart-inside, .shopping-cart .cart-inside {
    text-align: right;
}

.inner-shell .cart-inside p {
    padding-right: 0.4rem;
    font-family: var(--ff--main);
}

.burger-inside .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.burger-inside .line2 {
    opacity: 0;
}
.burger-inside .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.outer-shell {
    position: fixed;
    width: 100%;
    max-width: 6.375rem;
    height: 100vh;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.26);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    color: #7d4f38; 
    background-color: white;
}  

.outer-shell .cart {
    text-align: center;
    font-family: var(--ff--main);
}

.burger div, .burger-inside div{
    width: 25px;
    height: 3px;
    background-color: #7d4f38;
    margin-bottom: 5px;
    cursor: pointer;
}

.shopping-cart {
    visibility: hidden;
    position: fixed;
    transform: translateX(-100%);
    background-color: white;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.26);
    color: #7d4f38;
    width: 100%;
    max-width: 478px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* place-content: center; */
    padding: 1rem;
    height: 100vh;
    transition: transform 0.5s ease;
}

.shopping-cart-active {
    transform: translateX(0%);
}

.shopping-cart .top-part {  
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
}

.shopping-cart .top-part .closing-btn{
    cursor: pointer;
}

.shopping-cart .top-part .closing-btn:hover {
    font-weight: bold;
    transition: 0.3s;
}


.sc-title {
    font-size: 3.125rem;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #164a41;
    margin-bottom: .5em;
}

.shopping-cart-items {
    width: 100%;
    height: 100%;
    align-items: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid;
    max-height: 25rem;
}

.shopping-list {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid; */
}

.shopping-list li {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    margin-bottom: 2rem;
}

.sc-middle-part {
    opacity: 0;
    /* border: 1px solid; */
    height: auto;
    max-height: 600px;
    /* margin-top: 25%; */
    place-self: center;
}

/* Items style */
.shopping-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    width: 100%;

}

.shopping-list ul {
    padding-inline-start: 0;
}

.sc-item {
    position: relative;
    display: flex;
    align-items: center;
    font-family: var(--ff--main);
    width: 100%;
}

.item-img {
    position: relative;
    width: 6.25rem; 
    height: 6.25rem; 
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-right: 2rem;
}

.item-name {
    font-family: var(--ff--accent);
    font-weight: 400; 
    color: var(--clr--secondary);
    font-size: 1.563rem;
}

.item-classification {
    color: var(--clr--main);
}

.item-price {
    color: var(--clr--light-main);
}

.call-to-action {
    margin: 0 auto;
    height: 3.125rem;
    display: grid; 
    place-content: center;
    margin-top: 2rem;
}

.call-to-action a{
    width: 13rem;
    height: 3.125rem;
    border: 1px solid;
    font-family: var(--ff--main);
    color: var(--clr--light-main);
    font-weight: 400;
    display: grid; 
    place-items: center;
    transition: 0.5s;
}
.call-to-action a:hover {
    background-color: #7d4f38;
    color: var(--clr--bg);
}

button.sc-remove-btn {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 1rem;
    background-color: transparent;
    color: var(--clr--main);
    border: 1px solid;
    transition: 0.3s;
}

button.sc-remove-btn:hover {
    background-color: var(--clr--main);
    color: var(--clr--bg);
}

/* increase-decrease functioning */
.item-info {
    display: flex; 
    flex-direction: column;
}

.ii-bottom-part {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.ii-item-increase, .ii-item-decrease {
    width: 1.5rem;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid;
    border-color: var(--clr--main);
    color: var(--clr--main);
    font-size: 1rem;
    border-radius: 0;
    transition: 0.3s;
}

.ii-item-qty {
    width: 2rem;
    text-align: center;
    border: 1px solid;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.ii-item-increase:hover, .ii-item-decrease:hover {
    background-color: var(--clr--main);
    color: var(--clr--bg);
}


/*  */
.cart-inside p {
    text-align: right;
}
.cart img, .cart-inside img {
    cursor: pointer;
}

.cart p, .cart-inside p {
    font-weight: bold;
}

nav {
    height: 100vh;
    display: flex;
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width: 800px) {
    .outer-shell {
        height: auto;
        width: fit-content;
        right: 1.5rem;
        top: 1.5rem;
        background-color: white;
    }
    .outer-shell .logo, .outer-shell .cart {
        display: none;
    }
    .inner-shell, .shopping-cart {
        right: 0;
        transform: translateX(100%);
        max-width: none;
        width: 100%;
    } 
    .inner-shell-active, .shopping-cart-active {
        transform: translateX(0%);
    }
    .burger .line3 {
        margin-bottom: 0px;
    }
    .burger-inside {
        top: 0;
        right: 0;
        padding-right: 1.5rem;
        padding-top: 2.5rem;
    }
}

