@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;500;700&display=swap');

/* Already defined the default CSS on the nav-bar css */
* {
    box-sizing: border-box;
    padding: 0px;
}

:root {
    --clr--main: #7d4f38; 
    --clr--secondary: #164a41;
    --clr--neutral: #000000;
    --clr--white: #ffffff;
    --clr--bg: #f3ebe1;
    --clr--light-main: #c6a281;

    --ff--main: 'Roboto', sans-serif; 
    --ff--accent: 'Playfair Display', serif;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    background: gainsboro;
  }
   

::-webkit-scrollbar-thumb {
    background: var(--clr--main); 
    border-radius: 10px;
  }
  

::-webkit-scrollbar-thumb:hover {
    background: var(--clr--secondary); 
  }  
/* ====preformatting==== */
body {
    max-width: 1920px; 
    margin: 0 auto;
}

.container-wrapper { 
    display: flex;
}

.sections {
    width: 100%;
    height: auto;
    font-family: var(--ff--main);
    color: var(--clr--main);
    background-image: url('images/bg.png');
}

/* ====pre-styling==== */
.sections h1, h2 {
    font-family: var(--ff--accent);
    font-weight: 400;
}

/* =====================styling======================= */
.sections h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.sections h2 {
    font-size: 1.5625rem;
    /* font-weight: bold; */
}

.sp-title p {
    font-size: 1rem;
    color: var(--clr--secondary);
}

input, label, textarea {
    display: block;
}

input, textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 1.5rem;
    width: 100%;
    font-family: var(--ff--main);
    color: var(--clr--main);
    padding-left: 3px;
    padding-top: 3px;
}

input {
    height: 3.125rem;
}

input:focus, textarea:focus {
    outline: none;
}

input::placeholder, textarea::placeholder {
    font-family: var(--ff--main);
    font-weight: 400; 
    font-size: 1rem;
    color: var(--clr--main);
}

input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
    transition: 0.3s;
}

textarea:focus {
    height: 200px;
}

textarea {
    margin-top: 2.5rem;
    max-height: 200px;
}

.btn-solid {
    max-width: 10rem;
    height: 3rem;
    width: 100%;
    color: var(--clr--main);
    font-weight: bold;
    font-family: var(--ff--main);
    border-color: var(--clr--main);
    border: 1px solid;
    transition: 0.5s;  
    margin: 0 auto;
    margin-top: 3rem;
}

.btn-solid:hover {
    color: var(--clr--bg); 
    background-color: var(--clr--main);
}

/* ====formatting===== */
.main-content-container {
    max-width: 56.25rem;
    margin: 3.5rem auto;
    padding: 3rem 1rem;
    background-color: var(--clr--white);
}
.second-part {
    display: flex;
    flex-direction: column;
    width: 100%; 
    justify-content: space-between;
    margin-bottom: 3rem;
}
.sp-title { 
    width: 100%;
    max-width: 12.5rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.sp-title h2{
    margin-bottom: 0.5rem;
}

.third-part {
    margin: 0 auto;
}

.third-part h1{
    font-size: 1.5625rem;
    text-decoration: underline;
}

form {
    margin: 0 auto;
    margin-top: 1.5rem;
    max-width: 40.625rem;
}

.input-full-active {
    height: 200px;
}

/* ====for footer==== */
footer {
    width: 100%;
    background-color: #7d4f38;
    padding: 6.25rem 0;
    color: var(--clr--bg);
    text-align: center;
}

footer h2 {
    font-family: var(--ff--accent); 
}

footer p {
    font-family: var(--ff--main);
}

.footer-container {
    max-width: 19.5625em; 
    margin: 0 auto;
}

.footer-logo img{
    max-width: 3.25em;
}

.footer-logo h2{
    font-size: 1.5625rem;
    color: var(--clr--bg);
    margin-bottom: 1.5625rem;
}

.footer-socmeds i{
    color: var(--clr--bg); 
    margin: 0 1.25rem 1.5625rem 1.25rem;
}

.footer-socmeds i:hover {
    color: var(--clr--light-main);
}

.copyright p{
    text-align: center;
}

@media (min-width: 800px) {
    footer {
        padding: 6.25rem 0 6.25rem 0;
    }
    .sections {
        margin-left: 6.375rem;
    }
    .second-part {
        flex-direction: row;
    }
}